@page "/"
@* Hash-based routing is used for GitHub Pages hosting. Deep links look like
    https://<host>/<subfolders>/#/Category/Name *@

<PageTitle>Mapsui</PageTitle>

<div class="navigation-bar">
    <div class="nav-controls">
        <div class="control-group">
            <label for="sampleCategory">Category:</label>
            <InputSelect id="sampleCategory" @bind-Value="SampleCategory" class="form-select">
                @foreach (var sampleCategory in SampleCategories)
                {
                    <option value="@sampleCategory">@sampleCategory</option>
                }
            </InputSelect>
        </div>
        <div class="control-group">
            <label for="sampleName">Name:</label>
            <InputSelect id="sampleName" @bind-Value="SampleName" class="form-select">
                @foreach (var sampleName in SampleNames)
                {
                    <option value="@sampleName">@sampleName</option>
                }
            </InputSelect>
        </div>
    </div>
</div>

<div class="container">
    <div class="tab-buttons">
        <div class="tab-btn @(_activeTab == 0 ? "active" : "")" @onclick="(() => SetActiveTab(0))">Map</div>
        <div class="tab-btn @(_activeTab == 1 ? "active" : "")" @onclick="(() => SetActiveTab(1))">SourceCode</div>
    </div>

    <div class="tab-content">
        @if (_activeTab == 0)
        {
            <div class="canvas-container">
                <MapControlComponent @ref="_mapControl" />
            </div>
        }
        else if (_activeTab == 1)
        {
            // Note, the html files can not be fetched when running this in VS, but it works in VS Code. It is something related to how Kestrel works, says copilot.
            <iframe src="@_sourceCodeUrl" class="source-code-iframe"></iframe>
        }
    </div>
</div>